<div class="container" style="background-color: gray; height: 100%">
    <div fxLayoutAlign="center center" style="padding-top: 2rem;">
        <span style="font-size: 40px;">BIENVENIDO</span>
    </div>
    <div fxLayoutAlign="center center" style="padding-top: 8rem;">
        <div>
            <carousel
                [height]="500"
                [width]="1700"
                [cellWidth]="600"
                [autoplay]="true"
                [loop]="true"
                [images]="images"
                [dots]="true"
                [transitionDuration]="1000">
            </carousel>
        </div>
    </div></div>