<button *ngIf="!searchBoxShown" type="button" mat-icon-button aria-label="Buscar grupo" matTooltip="Buscar grupo" (click)="showSearchbox()"><mat-icon>search</mat-icon></button>
<div *ngIf="searchBoxShown" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
  <mat-icon matPrefix>search</mat-icon>
  <input matInput type="text" placeholder="Buscar grupo" [(ngModel)]="filterText"  (ngModelChange)="onTextChanged()"/>
  <button matSuffix mat-icon-button aria-label="Clear" (click)="onFilterClear()">
    <mat-icon>close</mat-icon>
  </button>
</div>
