table {
    width: 100%;
}

th {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

td {
    font-size: 15px;
    vertical-align: middle;
}

#customers th {
    background-color: #2cc595;
}
.mat-form-field-label{
  color:green !important;
}
.mat-form-field-underline{
  background-color:green !important;
}